<div id="footer"> 
 	<div id="footer-wording">Made by <a href="http://grabeh.net">@grabbeh</a> using the Google Maps and Flickr API. Code available <a href="https://github.com/grabbeh/geoflickr">here</a>. Check out my other projects <a href="https://instok.net">Instok</a> and <a href="http://routebop.com">Routebop</a></div>
  <div><a href="/privacy">Privacy policy</div>
  <div>This product uses the Flickr API but is not endorsed or certified by Flickr.</div>
</div>



