<div id="footer"> 
 	<div id="footer-wording">Made by <a href="http://grabeh.net">@grabbeh</a> using the Google Maps and Flickr API. Code available <a href="https://github.com/grabbeh/geoflickr">here</a>.</div>
</div>



