<div class="container">
         
       <div class="row">
	    <div class="twelvecol">
		  <div class="findaroute"><span style="padding-right: 10px">Find photos <span ng-click="geolocateUser()" class="geolocate">near me</span>, near</span><input ng-model="location" class="newinput" id="userlocation"><input class="newbutton hover" ng-click="submitLocationForm()" id="userlocationsubmit" type="submit" value="Enter"> or click below</div>
	    </div>
	</div>

        <div class="row">
          <div class="twelvecol">
            <div ng-click="showAdvancedOptions = !showAdvancedOptions" class="hover advancedsearch"><span ng-hide="showAdvancedOptions">Show</span><span ng-show="showAdvancedOptions">Hide</span> advanced options</div>

            <div ng-show="showAdvancedOptions">
                <form>
                    <div><p><b>Filter by licence</b></p></div>
                   <ul class="licenseform"> 
                    	<li ng-repeat="license in licenses"><input class="checkbox" ng-model="license.checked" type="checkbox" name="license" value="0">
                       	      {{ license.type }}
                       	</li>
                  </ul>
                  <p>For more information on licences please visit <a href="http://www.flickr.com/creativecommons/">Flickr's Creative Commons Page</a></p>
                </form>
                <form ng-submit="submitSearchForm()">
                    <div class="tag-filter"><b>Filter by tags</b> (space separated)</div>
                    <div>
                    <input class="newinput" type="text" id="tags" ng-model="tag"> 
                    <input type="submit" class="newbutton hover" value="search" id="searchsubmit">
                  </div>
                </form>
            </div>
          </div>
        </div>
         <div class="row">
            <div class="twelvecol">
               <div id="map">
                  <div mg-map id="mymap" coords="coords"></div>
               </div>
               <p ng-click="showRecentLocations = !showRecentLocations" class="hover">Recent locations - <span ng-hide="showRecentLocations"> show </span><span ng-show="showRecentLocations"> hide</span></p>
               <div ng-show="showRecentLocations">
               <ul class="location-list">
                  <li ng-repeat="l in locations track by $index">
                    {{ l }}
                  </li>
               </ul>
               </div>
            </div>
          </div>
          <div class="row">
            <div class="twelvecol">
              <div mg-paginator array-of-photos="arrayOfPhotos" items-per-page="30"></div>
            </div>
          </div>
         <div class="clearfooter"></div>
      </div>
